In [4]:
import pandas as pd
pd.options.mode.chained_assignment = None

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import plotly.graph_objs as go
import plotly.express as px

import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter

import geopandas as gpd

import warnings
warnings.filterwarnings('ignore')

In [5]:
# reads csv files in the folder My Drive/DA Bootcamp/_DA-project_/datasets/
raw_population = pd.read_csv('../datasets/population2024.csv') #https://opendata-ajuntament.barcelona.cat/data/en/dataset/pad_mdbas
raw_transports = pd.read_csv('../datasets/transports.csv') 
raw_bus = pd.read_csv('../datasets/bus_stops.csv')
raw_areas = pd.read_csv('../datasets/district_area.csv')

In [64]:
areas = raw_areas.copy()
areas

              District  District.Area
0         Ciutat Vella           4.11
1             Eixample           7.46
2               Gràcia           4.19
3       Horta-Guinardó          11.96
4            Les Corts           6.02
5           Nou Barris           8.05
6          Sant Andreu           6.59
7           Sant Martí          10.39
8       Sants-Montjuïc          22.68
9  Sarrià-Sant Gervasi          19.91

In [65]:
areas.rename(columns={'District':'District name', 'District.Area':'District area'}, inplace=True)

In [6]:
raw_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data_Referencia  1068 non-null   object
 1   Codi_Districte   1068 non-null   int64
 2   Nom_Districte    1068 non-null   object
 3   Codi_Barri       1068 non-null   int64
 4   Nom_Barri        1068 non-null   object
 5   AEB              1068 non-null   int64
 6   Seccio_Censal    1068 non-null   int64
 7   Valor            1068 non-null   int64
dtypes: int64(5), object(3)
memory usage: 66.9+ KB

In [7]:
raw_population.duplicated().sum()

np.int64(0)

In [9]:
#cleaning the datasets
population=raw_population.copy()
population

,Data_Referencia,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,AEB,Seccio_Censal,Valor
0,2024-01-01,1,Ciutat Vella,1,el Raval,1,1001,1309
1,2024-01-01,1,Ciutat Vella,1,el Raval,1,1002,1282
2,2024-01-01,1,Ciutat Vella,1,el Raval,2,1003,3500
3,2024-01-01,1,Ciutat Vella,1,el Raval,2,1004,2999
4,2024-01-01,1,Ciutat Vella,1,el Raval,3,1005,2326
...,...,...,...,...,...,...,...,...
1063,2024-01-01,10,Sant Martí,73,la Verneda i la Pau,232,10139,1716
1064,2024-01-01,10,Sant Martí,73,la Verneda i la Pau,233,10140,1676
1065,2024-01-01,10,Sant Martí,73,la Verneda i la Pau,233,10141,1175
1066,2024-01-01,10,Sant Martí,73,la Verneda i la Pau,233,10142,1676
1067,2024-01-01,10,Sant Martí,73,la Verneda i la Pau,233,10143,1809

In [14]:
population.columns

Index(['Data_Referencia', 'Codi_Districte', 'Nom_Districte', 'Codi_Barri',
       'Nom_Barri', 'AEB', 'Seccio_Censal', 'Valor'],
      dtype='object')

In [10]:
raw_transports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Code               651 non-null    object
 1   Transport          651 non-null    object
 2   Longitude          651 non-null    float64
 3   Latitude           651 non-null    float64
 4   Station            651 non-null    object
 5   District.Name      487 non-null    object
 6   Neighborhood.Name  487 non-null    object
dtypes: float64(2), object(5)
memory usage: 35.7+ KB

In [11]:
transports = raw_transports.dropna(inplace=False)
transports.isnull().sum()

Code                 0
Transport            0
Longitude            0
Latitude             0
Station              0
District.Name        0
Neighborhood.Name    0
dtype: int64

In [12]:
raw_bus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3162 entries, 0 to 3161
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Code               3162 non-null   object
 1   Transport          3162 non-null   object
 2   Longitude          3162 non-null   float64
 3   Latitude           3162 non-null   float64
 4   Bus.Stop           3162 non-null   object
 5   District.Name      3146 non-null   object
 6   Neighborhood.Name  3146 non-null   object
dtypes: float64(2), object(5)
memory usage: 173.1+ KB

In [13]:
bus = raw_bus.dropna(inplace=False)
bus.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3146 entries, 0 to 3161
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Code               3146 non-null   object
 1   Transport          3146 non-null   object
 2   Longitude          3146 non-null   float64
 3   Latitude           3146 non-null   float64
 4   Bus.Stop           3146 non-null   object
 5   District.Name      3146 non-null   object
 6   Neighborhood.Name  3146 non-null   object
dtypes: float64(2), object(5)
memory usage: 196.6+ KB

In [ ]:
#simplification of the datasets
# 'Data_Referencia', 'Codi_Districte', 'Nom_Districte', 'Codi_Barri', 'Nom_Barri', 'AEB', 'Seccio_Censal', 'Valor'
population.drop(columns=['Data_Referencia', 'Codi_Districte', 'Codi_Barri', 'AEB', 'Seccio_Censal'], inplace=True)
transports.drop(columns=['Code', 'Longitude', 'Latitude', 'Station'], inplace=True)
bus.drop(columns=['Code', 'Longitude', 'Latitude', 'Bus.Stop'], inplace=True)

In [16]:
population

     Nom_Districte            Nom_Barri  Valor
0     Ciutat Vella             el Raval   1309
1     Ciutat Vella             el Raval   1282
2     Ciutat Vella             el Raval   3500
3     Ciutat Vella             el Raval   2999
4     Ciutat Vella             el Raval   2326
...            ...                  ...    ...
1063    Sant Martí  la Verneda i la Pau   1716
1064    Sant Martí  la Verneda i la Pau   1676
1065    Sant Martí  la Verneda i la Pau   1175
1066    Sant Martí  la Verneda i la Pau   1676
1067    Sant Martí  la Verneda i la Pau   1809

[1068 rows x 3 columns]

In [21]:
transports

,Transport,District.Name,Neighborhood.Name,Transport.Count
0,Airport train,Eixample,la Dreta de l'Eixample,1
1,Airport train,Sant Andreu,Sant Andreu,1
2,Airport train,Sant Martí,el Clot,3
3,Airport train,Sants-Montjuïc,Sants,1
4,Cableway,Ciutat Vella,el Raval,1
...,...,...,...,...
97,Underground,Sarrià-Sant Gervasi,Sant Gervasi - Galvany,10
98,Underground,Sarrià-Sant Gervasi,Sant Gervasi - la Bonanova,1
99,Underground,Sarrià-Sant Gervasi,Sarrià,4
100,Underground,Sarrià-Sant Gervasi,el Putxet i el Farró,6
101,Underground,Sarrià-Sant Gervasi,les Tres Torres,4

In [24]:
bus

,Transport,District.Name,Neighborhood.Name,Transport.Count
0,Airport bus stop,Eixample,Sant Antoni,3
1,Airport bus stop,Eixample,la Dreta de l'Eixample,2
2,Airport bus stop,Sants-Montjuïc,Hostafrancs,1
3,Airport bus stop,Sants-Montjuïc,el Poble-sec,1
4,Bus station,Eixample,el Fort Pienc,1
...,...,...,...,...
147,Night bus stop,Sarrià-Sant Gervasi,Sant Gervasi - la Bonanova,14
148,Night bus stop,Sarrià-Sant Gervasi,Sarrià,22
149,Night bus stop,Sarrià-Sant Gervasi,"Vallvidrera, el Tibidabo i les Planes",8
150,Night bus stop,Sarrià-Sant Gervasi,el Putxet i el Farró,20
151,Night bus stop,Sarrià-Sant Gervasi,les Tres Torres,9

In [18]:
population=population.groupby(['Nom_Districte','Nom_Barri'])['Valor'].sum(numeric_only=True).reset_index(name = 'Population')
transports=transports.groupby(['Transport', 'District.Name', 'Neighborhood.Name'])['Transport'].size().reset_index(name='Transport.Count')
bus=bus.groupby(['Transport', 'District.Name', 'Neighborhood.Name'])['Transport'].size().reset_index(name='Transport.Count')

In [44]:
population.rename(columns={'Nom_Districte':'District name', 'Nom_Barri':'Neighborhood name'}, inplace=True)
population

          District name                      Neighborhood name  Population
0          Ciutat Vella  Sant Pere, Santa Caterina i la Ribera       22473
1          Ciutat Vella                         el Barri Gòtic       27222
2          Ciutat Vella                               el Raval       46934
3          Ciutat Vella                         la Barceloneta       14526
4              Eixample                            Sant Antoni       38698
..                  ...                                    ...         ...
68  Sarrià-Sant Gervasi             Sant Gervasi - la Bonanova       26750
69  Sarrià-Sant Gervasi                                 Sarrià       25113
70  Sarrià-Sant Gervasi  Vallvidrera, el Tibidabo i les Planes        4901
71  Sarrià-Sant Gervasi                   el Putxet i el Farró       30335
72  Sarrià-Sant Gervasi                        les Tres Torres       16393

[73 rows x 3 columns]

In [45]:
transports.rename(columns={'District.Name': 'District name', 'Neighborhood.Name': 'Neighborhood name', 'Transport.Count': 'Number'}, inplace=True)
transports

,Transport,District name,Neighborhood name,Number,Transport type
0,Airport train,Eixample,la Dreta de l'Eixample,1,Others
1,Airport train,Sant Andreu,Sant Andreu,1,Others
2,Airport train,Sant Martí,el Clot,3,Others
3,Airport train,Sants-Montjuïc,Sants,1,Others
4,Cableway,Ciutat Vella,el Raval,1,Others
...,...,...,...,...,...
97,Underground,Sarrià-Sant Gervasi,Sant Gervasi - Galvany,10,Underground
98,Underground,Sarrià-Sant Gervasi,Sant Gervasi - la Bonanova,1,Underground
99,Underground,Sarrià-Sant Gervasi,Sarrià,4,Underground
100,Underground,Sarrià-Sant Gervasi,el Putxet i el Farró,6,Underground
101,Underground,Sarrià-Sant Gervasi,les Tres Torres,4,Underground

In [46]:
bus.rename(columns={'District.Name': 'District name', 'Neighborhood.Name': 'Neighborhood name', 'Transport.Count': 'Number'}, inplace=True)
bus

,Transport,District name,Neighborhood name,Number,Transport type
0,Airport bus stop,Eixample,Sant Antoni,3,Others
1,Airport bus stop,Eixample,la Dreta de l'Eixample,2,Others
2,Airport bus stop,Sants-Montjuïc,Hostafrancs,1,Others
3,Airport bus stop,Sants-Montjuïc,el Poble-sec,1,Others
4,Bus station,Eixample,el Fort Pienc,1,Others
...,...,...,...,...,...
75,Day bus stop,Sarrià-Sant Gervasi,Sant Gervasi - la Bonanova,69,City bus
76,Day bus stop,Sarrià-Sant Gervasi,Sarrià,58,City bus
77,Day bus stop,Sarrià-Sant Gervasi,"Vallvidrera, el Tibidabo i les Planes",110,City bus
78,Day bus stop,Sarrià-Sant Gervasi,el Putxet i el Farró,34,City bus
79,Day bus stop,Sarrià-Sant Gervasi,les Tres Torres,21,City bus

In [47]:
# simplifying even more the datasets: group by ditrict, drop the night bus, and group the transports in different groups
transports['Transport'].unique()

array(['Airport train', 'Cableway', 'Funicular', 'Maritime station',
       'RENFE', 'Railway (FGC)', 'Tram', 'Underground'], dtype=object)

In [48]:
transports['Transport'].value_counts()

Transport
Underground         60
Railway (FGC)       11
Tram                 9
RENFE                8
Funicular            4
Airport train        4
Maritime station     3
Cableway             3
Name: count, dtype: int64

In [49]:
bus['Transport'].unique()

array(['Airport bus stop', 'Bus station', 'Day bus stop'], dtype=object)

In [50]:
bus['Transport'].value_counts()

Transport
Day bus stop        73
Airport bus stop     4
Bus station          3
Name: count, dtype: int64

In [51]:
# the transport groups will be: underground, city buses, and others. 
# Others group: Railway, Tram, RENFE, Funicular, Airport train, Maritime station, Cableway, Bus station, Airport bus stop
# Night bus stop will be dropped because most of the stops that have night bus have other buses as well.
bus=bus[bus['Transport']!='Night bus stop']
bus['Transport'].unique()

array(['Airport bus stop', 'Bus station', 'Day bus stop'], dtype=object)

In [52]:
#creating a function to classify the transport in 3 big groups:
def classify_transport(transport):
    if transport=='Underground':
        return 'Underground'
    elif transport=='Day bus stop':
        return 'City bus'
    else:
        return 'Others'

In [53]:
#applying the function to both dataframes
transports['Transport type'] = transports['Transport'].apply(classify_transport)
bus['Transport type'] = bus['Transport'].apply(classify_transport)

In [54]:
transports['Transport type'].value_counts()

Transport type
Underground    60
Others         42
Name: count, dtype: int64

In [55]:
bus['Transport type'].value_counts()

Transport type
City bus    73
Others       7
Name: count, dtype: int64

In [56]:
# union of the transports and the bus datasets:
transport = pd.concat([transports, bus])
transport

,Transport,District name,Neighborhood name,Number,Transport type
0,Airport train,Eixample,la Dreta de l'Eixample,1,Others
1,Airport train,Sant Andreu,Sant Andreu,1,Others
2,Airport train,Sant Martí,el Clot,3,Others
3,Airport train,Sants-Montjuïc,Sants,1,Others
4,Cableway,Ciutat Vella,el Raval,1,Others
...,...,...,...,...,...
75,Day bus stop,Sarrià-Sant Gervasi,Sant Gervasi - la Bonanova,69,City bus
76,Day bus stop,Sarrià-Sant Gervasi,Sarrià,58,City bus
77,Day bus stop,Sarrià-Sant Gervasi,"Vallvidrera, el Tibidabo i les Planes",110,City bus
78,Day bus stop,Sarrià-Sant Gervasi,el Putxet i el Farró,34,City bus
79,Day bus stop,Sarrià-Sant Gervasi,les Tres Torres,21,City bus

In [57]:
transport.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182 entries, 0 to 79
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Transport          182 non-null    object
 1   District name      182 non-null    object
 2   Neighborhood name  182 non-null    object
 3   Number             182 non-null    int64
 4   Transport type     182 non-null    object
dtypes: int64(1), object(4)
memory usage: 8.5+ KB

In [58]:
transport=transport.groupby(['District name', 'Transport type'], as_index=False)['Number'].sum()
transport

          District name Transport type  Number
0          Ciutat Vella       City bus     114
1          Ciutat Vella         Others       5
2          Ciutat Vella    Underground      22
3              Eixample       City bus     245
4              Eixample         Others      23
5              Eixample    Underground     103
6                Gràcia       City bus     166
7                Gràcia         Others       2
8                Gràcia    Underground      15
9        Horta-Guinardó       City bus     309
10       Horta-Guinardó    Underground      31
11            Les Corts       City bus     162
12            Les Corts         Others       9
13            Les Corts    Underground      15
14           Nou Barris       City bus     254
15           Nou Barris         Others       1
16           Nou Barris    Underground      38
17          Sant Andreu       City bus     161
18          Sant Andreu         Others       5
19          Sant Andreu    Underground      36
20           Sant Martí       City bus     235
21           Sant Martí         Others      22
22           Sant Martí    Underground      48
23       Sants-Montjuïc       City bus     334
24       Sants-Montjuïc         Others      17
25       Sants-Montjuïc    Underground      39
26  Sarrià-Sant Gervasi       City bus     333
27  Sarrià-Sant Gervasi         Others      41
28  Sarrià-Sant Gervasi    Underground      25

In [59]:
population=population.groupby(['District name'])['Population'].sum(numeric_only=True).reset_index()
population

         District name  Population
0         Ciutat Vella      111155
1             Eixample      274636
2               Gràcia      125787
3       Horta-Guinardó      180138
4            Les Corts       83551
5           Nou Barris      179590
6          Sant Andreu      155470
7           Sant Martí      249206
8       Sants-Montjuïc      191391
9  Sarrià-Sant Gervasi      151890

In [61]:
trans_piv = transport.pivot_table(index='District name', columns = 'Transport type', values = 'Number', aggfunc ='sum', fill_value=0)

In [62]:
pop_trans = pd.merge(population, trans_piv, on=['District name'], how = 'inner')
pop_trans

         District name  Population  City bus  Others  Underground
0         Ciutat Vella      111155       114       5           22
1             Eixample      274636       245      23          103
2               Gràcia      125787       166       2           15
3       Horta-Guinardó      180138       309       0           31
4            Les Corts       83551       162       9           15
5           Nou Barris      179590       254       1           38
6          Sant Andreu      155470       161       5           36
7           Sant Martí      249206       235      22           48
8       Sants-Montjuïc      191391       334      17           39
9  Sarrià-Sant Gervasi      151890       333      41           25

In [67]:
all_merged = pd.merge(pop_trans, areas, on=['District name'], how = 'inner')
all_merged

,District name,Population,City bus,Others,Underground,District area
0,Ciutat Vella,111155,114,5,22,4.11
1,Eixample,274636,245,23,103,7.46
2,Gràcia,125787,166,2,15,4.19
3,Horta-Guinardó,180138,309,0,31,11.96
4,Les Corts,83551,162,9,15,6.02
5,Nou Barris,179590,254,1,38,8.05
6,Sant Andreu,155470,161,5,36,6.59
7,Sant Martí,249206,235,22,48,10.39
8,Sants-Montjuïc,191391,334,17,39,22.68
9,Sarrià-Sant Gervasi,151890,333,41,25,19.91

In [68]:
#gettint the centroids for the districts
# Path to your local GeoJSON file
geojson_file_path = '../datasets/districtes.geojson'  # Update this with your actual file path

# Read the GeoJSON file into a GeoDataFrame
gdf = gpd.read_file(geojson_file_path)

# Check the structure of your data to ensure you're using the correct column names
# This will show the first few rows of your GeoDataFrame
print(gdf.head())

# Extract centroids for each district
districts_centroids = []

# Loop through each district and calculate the centroid (center point) of the geometry
for idx, row in gdf.iterrows():
    district_name = row['NOM']  # Replace 'nom' with the actual column name for district name, if it's different
    centroid = row['geometry'].centroid  # Calculate the centroid of the district's geometry
    latitude = centroid.y
    longitude = centroid.x
    districts_centroids.append({
        'District': district_name,
        'Latitude': latitude,
        'Longitude': longitude
    })

# Convert the list of dictionaries to a pandas DataFrame
centroids_df = pd.DataFrame(districts_centroids)

# Display the resulting DataFrame with centroids
print(centroids_df)

  ID_ANNEX ANNEXDESCR ID_TEMA               TEMA_DESCR ID_CONJUNT  CONJ_DESCR  \
0       01   Grup - I    0104  Unitats Administratives     010412  Districtes
1       01   Grup - I    0104  Unitats Administratives     010412  Districtes
2       01   Grup - I    0104  Unitats Administratives     010412  Districtes
3       01   Grup - I    0104  Unitats Administratives     010412  Districtes
4       01   Grup - I    0104  Unitats Administratives     010412  Districtes

  ID_SUBCONJ SCONJ_DESC  ID_ELEMENT          ELEM_DESCR  ... ESTIL_ID  \
0   01041201  Districte  0104120101  Límit de districte  ...        0
1   01041201  Districte  0104120101  Límit de districte  ...        0
2   01041201  Districte  0104120101  Límit de districte  ...        0
3   01041201  Districte  0104120101  Límit de districte  ...        0
4   01041201  Districte  0104120101  Límit de districte  ...        0

  ESTIL_QGIS VALOR1QGIS VALOR2QGIS COL_FARCIT FCOL_DESCR FHEX_COLOR COL_DESCR  \
0      Sòlid          0          0          1      Negre    #000000     Negre
1      Sòlid          0          0          1      Negre    #000000     Negre
2      Sòlid          0          0          1      Negre    #000000     Negre
3      Sòlid          0          0          1      Negre    #000000     Negre
4      Sòlid          0          0          1      Negre    #000000     Negre

  HEX_COLOR7                                           geometry
0    #000000  POLYGON ((2.18345 41.39061, 2.18459 41.38976, ...
1    #000000  POLYGON ((2.1869 41.40165, 2.18689 41.40087, 2...
2    #000000  MULTIPOLYGON (((2.14824 41.37623, 2.14896 41.3...
3    #000000  POLYGON ((2.10342 41.4011, 2.10352 41.40109, 2...
4    #000000  MULTIPOLYGON (((2.07313 41.43522, 2.07319 41.4...

[5 rows x 47 columns]
              District   Latitude  Longitude
0         Ciutat Vella  41.381132   2.180728
1             Eixample  41.391593   2.164470
2       Sants-Montjuïc  41.349796   2.144444
3            Les Corts  41.386933   2.118236
4  Sarrià-Sant Gervasi  41.412597   2.106513
5               Gràcia  41.410262   2.152224
6       Horta-Guinardó  41.429161   2.150571
7           Nou Barris  41.446309   2.175075
8          Sant Andreu  41.435035   2.193309
9           Sant Martí  41.407634   2.201037

In [72]:
centroids_df.rename(columns={'District':'District name'}, inplace=True)

In [73]:
merged = pd.merge(all_merged, centroids_df, on=['District name'], how = 'inner')
merged

,District name,Population,City bus,Others,Underground,District area,Latitude,Longitude
0,Ciutat Vella,111155,114,5,22,4.11,41.381132,2.180728
1,Eixample,274636,245,23,103,7.46,41.391593,2.164470
2,Gràcia,125787,166,2,15,4.19,41.410262,2.152224
3,Horta-Guinardó,180138,309,0,31,11.96,41.429161,2.150571
4,Les Corts,83551,162,9,15,6.02,41.386933,2.118236
5,Nou Barris,179590,254,1,38,8.05,41.446309,2.175075
6,Sant Andreu,155470,161,5,36,6.59,41.435035,2.193309
7,Sant Martí,249206,235,22,48,10.39,41.407634,2.201037
8,Sants-Montjuïc,191391,334,17,39,22.68,41.349796,2.144444
9,Sarrià-Sant Gervasi,151890,333,41,25,19.91,41.412597,2.106513